*{
    margin:0 ;
    padding:0;
}
body{
    background-color: rgba(185, 185, 185, 0.3);
}
.block{
    width: 320px;
    height:480px;
}
.gouwu{
    margin: 0 auto;
    width: 100%;
    height: 100px;
    background-color: papayawhip;
}
.block_shanchu{
    margin-bottom: 10px;
     background-color: white;
 }
.block_shanchu>div{
   margin: 20px 0;
}
.block_shanchu>div:nth-child(1){
    margin-left: 5px;
    margin-top: 50px;
}
.block_shanchu>div:nth-child(4) a{
    text-decoration: none;
   color: black;
}
.block_shanchu>div:nth-child(6){
    margin-left: -10px;
    margin-top: 45px;
}
.ullist{
    margin-top: 30px;
    margin-left: 0px;
}
.ullist>li{
   margin-right: -5px;
    border: 1px solid gainsboro;
}
.shanchu_span b{
    color:red;
}
.jiesuan{
    padding: 10px;
    border-bottom: 2px solid gainsboro;
}
.footer{
    position: fixed;
    bottom: 0;
    height: auto;
    margin-top: 20px;
    width: 320px;
    background-color: white;
}
.footer_img{
    margin-top: 10px;
}
.footer_img>div>a:hover{
    text-decoration: none;
}
.textinfo{
    color: black;
}
.myself{
    max-height:23px ;
}
